{% extends 'base.html.twig' %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            <div data-alert class="alert-box success radius">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

    <h1>Page d'accueil !</h1>
    
    <p>
            {{ render( controller( 'AppBundle:Default:livresAccueil', { 'max': 4 } )) }}
    </p>
    
    <div class="panel">
        <h5>Citation du jour</h5>
        <p>{{ citation }}</p>
    </div>
    
    
{% endblock %}
