<!DOCTYPE html>
<html class="no-js" lang="fr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formation Symfony 3</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/foundation.min.css">
    {% endblock %}
</head>

<body>

    <div class="row">
        <div class="large-12 columns" role="content">
            {% block body %}{% endblock %}
        </div>
    </div>
    
    {% block javascripts %}
        <script src="/js/jquery-3.2.1.min.js"></script>
    {% endblock %}
</body>

</html>
