/.web-server-pid
/app/config/parameters.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/

/web/uploads/couvertures/*
!web/uploads/couvertures/.gitkeep

/web/media/cache/my_thumb/uploads/couvertures/*
!web/media/cache/my_thumb/uploads/couvertures/.gitkeep

/web/media/cache/livre_listing/uploads/couvertures/*
!web/media/cache/livre_listing/uploads/couvertures/.gitkeep

/web/media/cache/livre_page_detail/uploads/couvertures/*
!web/media/cache/livre_page_detail/uploads/couvertures/.gitkeep
